
{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="jumbotron">
<h1>Django Level Five</h1>

{% if view %}
    <ol>
      {% for persons in view %}
      <li>user inform</li>
      <ul>
        <li>Web : {{persons.protfolio_site}}</li>
        <li>profile_pic : {{persons.profile_pic}}</li>
      </ul>
      {% endfor %}
    </ol>
    {% endif %}

{% if us %}
    <ol>
      {% for persons in us %}
      <li>user inform</li>
      <ul>
        <li>username : {{persons.username}}</li>
        <li>email : {{persons.email}}</li>
      </ul>
      {% endfor %}
    </ol>
    {% endif %}

</div>

{% endblock %}